@font-face {
  font-family: 'Retrograde-Regular';
  src: url('./assets/Retrograde-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Retrograde-Regular', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

.home-container {
  width: 100vw;
  height: 100vh;
  min-width: 200px;
  min-height: 180px;
  background-image: url('./assets/blue_underwater_background.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

.title-bar {
  -webkit-app-region: drag;
  height: 15vh;
  width: 100vw;
  min-height: 30px;
  background-color: rgba(255, 255, 255, 0.177);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;
}

.encouragement-text {
  font-size: min(5vh, 20vw);
  color: #99e550;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8s ease;

}

.encouragement-text.hidden {
  opacity: 0;
}

.background-green {
  background-image: url('./assets/kelp_forest_background.gif');
}

.home-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 100%;
}

.mode-controls {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-self: top;
  width: 100%;
  gap: 20%;
}

.mode-button {
  background: none;
  border: none;
  cursor: pointer;
}

.mode-button img {
  width: min(25vw, 30vh);
}

.home-timer {
  font-size: min(21vh, 20vw);
  color: #fffdce;
  margin: 0;
}

.timer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: min(10vw, 20vh);
}

.timer-buttons-running {
  justify-content: space-evenly;
}

.home-button {
  background: none;
  border: none;
  cursor: pointer;
}

.home-button img {
  width: min(10vw, 20vh);
}

.title-bar-button {
  position: absolute;
  top: 3vh;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.title-bar-button img {
  min-width: 24px;
  min-height: 24px;
  height: min(8vh, 8vw);
}
